*{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Verdana, sans-serif;
	line-height: 1.5;
	box-sizing: border-box;
}

body{
	margin: 0 auto;
	color: #d0dde3;
    background-color: #1b1b1b;
	width: 1280px;
	background-image: url("assets/Grunge.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header, footer{
	padding: 15px;
	color: #d0dde3;
	font-size: x-large;
	text-align: center;
	width: 1280px;
	margin: 0 auto;
    background-color: #0b0b0bad;
    border-radius: 5px;
    box-shadow: -3px 3px 5px black;

}

main{
	padding-bottom: 75px;
	margin-bottom: 75px;
}

nav {
    margin: auto;
    text-align: center;
    padding: 15px;
    margin-top: 0px;
    margin-right: 0px;
}

nav ul {
    padding: 0px;
}

nav li {
    display: inline;
    list-style: none;
    background-color: #0b0b0bad;
    padding: 20px;
    border-radius: 5px;
	box-shadow: -3px 3px 5px black;
    margin: 5px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
	font-size: large;
    padding: 30px;
    text-align: center;
	color: #d0dde3 ;
}

nav li:hover {
    box-shadow: -3px 3px 5px #d0dde3;
    background-color: #d0dde350;
    
}

h2, h3{
	text-align: center;
	text-decoration-line: bold;
	font-size: xx-large;
}

p{
	max-width: 100ch;
	margin: 16px auto;
	text-align: center;
	font-size: large;
}

#logo {
    float: left;
    width: 100px;
    margin-left: 155px;
    border-radius: 50%;
}